@import "./reset.scss"; //重置样式
@import "./_mixin.scss";//复用样式
@import "./_variables.scss";//变量
@import "./common.scss"; //公共样式
@import "./animate.scss"; //自己定义的动画
@import "./media.scss"; //媒体查询



// @font-face{
// font-family: fzj;
// src: url('../fonts/fzj.TTF')
// }
 
.iscroll{
    position: absolute;
	z-index: 1;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #ccc;
    overflow: hidden;
    
}
.bg{
    width: 100%;
    height: 32.09rem;
    background: url('../assets/images/bg.jpg') center/cover no-repeat;
}

